<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} ^/?$ [NC]
    RewriteRule ^ /login [R=302,L]

    # If the requested file or directory exists, serve it normally
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirect everything else to /public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
